
bowingGame/finihed/bowlingApp/.vs/bowlingApp/v16/Server/sqlite3/

bowingGame/finihed/bowlingApp/.vs/bowlingApp/v16/

bowingGame/finihed/bowlingApp/.vs/bowlingApp/DesignTimeBuild/

bowingGame/starter/bowlingApp/.vs/bowlingApp/DesignTimeBuild/

bowingGame/starter/bowlingApp/.vs/bowlingApp/v16/Server/sqlite3/

bowingGame/starter/bowlingApp/.vs/bowlingApp/v16/

bowingGame/starter/bowlingApp/bowlingApp.Test/obj/

bowingGame/starter/bowlingApp/bowlingApp/obj/

bowingGame/finihed/bowlingApp/bowlingApp/obj/

bowingGame/finihed/bowlingApp/bowlingApp/bin/Debug/netcoreapp3.0/

bowingGame/finihed/bowlingApp/bowlingApp.Test/obj/Debug/netcoreapp3.0/

bowingGame/finihed/bowlingApp/bowlingApp.Test/obj/
